# IDE and Editor files
.idea
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
backend/llama-venv
backend/uploads
backend/.env
backend/venv/*

# Node
**/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend specific
frontend/.env
frontend/build
frontend/package-lock.json

# Environment variables
.env
